<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container" style="margin-top: 110px">


            <!--Section: Testimonials v.2-->
            <section class="section">

                <!--Section heading-->
                <h1 class="section-heading">Contact me</h1>
                <!--Section sescription-->

                <!--Carousel Wrapper-->
                <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">

                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="testimonial">
                                <!--Avatar-->
                                <div class="avatar">

                                    <img src="./img/mainpage/siebert.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">

                                </div>
                                <!--Content-->
                                <p>The best way to contact me is by sending an e-mail, you can expect a reaction within 24 hours.</p>
                                <br>
                                <h4>Siebert Elhorst</h4>
                                <h5>siebert.reinier@gmail.com</h5>
                                <h5>+31 (0)6 21421825</h5>

                                <a type="button" href="http://www.facebook.com/siebert.elhorst" Target="_blank" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/thegendolz" Target="_blank" type="button" class="btn-floating btn-large btn-git"><i class="fa fa-github"></i></a>
                                <a href="https://youtube.com/LeagueofGendolz" Target="_blank" type="button" class="btn-floating btn-large btn-yt"><i class="fa fa-youtube"></i></a>
                                <a routerLink="/index" type="button" class="btn-floating btn-large btn-email"><i class="fa fa-home"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--/.Mask-->