<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container" style="margin-top: 110px">

            <!--Author box-->
            <div class="author-box">
                <!--Name-->
                <h3 class="h3-responsive text-center">Contact</h3>
                <hr>
                <div class="row">
                    <!--Avatar-->
                    <div class="col-12 col-sm-2">
                        <img src="./img/mainpage/siebert.jpg" class="img-fluid rounded-circle z-depth-2">
                    </div>
                    <!--Author Data-->
                    <div class=" col-12 col-sm-10">
                        <p><strong>Siebert Elhorst</strong></p>
                        <div class="personal-sm">
                            <a routerLink="/index" class="email-ic"><i class="fa fa-home"> </i></a>
                            <a href="http://www.facebook.com/siebert.elhorst" Target="_blank" class="fb-ic"><i class="fa fa-facebook-square"> </i></a>
                            <a href="https://github.com/thegendolz" Target="_blank" class="black-text"><i class="fa fa-github"> </i></a>
                            <a href="https://youtube.com/LeagueofGendolz" Target="_blank" class="red-text"><i class="fa fa-youtube"> </i></a>
                        </div>
                        <p><strong>Email:</strong> siebert.reinier@gmail.com</p>
                        <p><strong>Phonenumber:</strong> +31 (0)6 21421825</p>
                        <p><strong>Nationality:</strong> Netherlands</p>
                    </div>
                </div>
            </div>
            <!--/.Author box-->
        </div>
    </div>
</div>
<!--/.Mask-->