<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <div class="container">
            <div class="row" id="home">

                <!--First column-->
                <div class="col-lg-6">
                    <div class="description">
                        <h2 class="h2-responsive wow fadeInLeft">Portfolio</h2>
                        <hr class="hr-dark">
                        <p class="wow fadeInLeft" data-wow-delay="0.4s">Hello, welcome to my portfolio. I am Siebert a Computer Science student from the Netherlands. On this portfolio/résumé you can find information about my projects and experiences. Currently I am doing my pre-master at the University of Groningen and hope to follow a Master program soon.</p>
                        <br>
                        <p>I have a bachelor degree in software engineering, you can find more information about my degrees <a routerLink="/degree" class="blue-text"><i class="fa fa-link"></i> here</a></p>
                    </div>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-lg-5 offset-lg-1 flex-center">
                    <div class="card testimonial-card " style="width: 100%">

                        <!--Background color-->
                        <div class="card-up grey darken-2">
                        </div>

                        <!--Avatar-->
                        <div class="avatar"><img src="./img/mainpage/siebert.jpg" class="rounded-circle img-responsive">
                        </div>

                        <div class="card-block">
                            <h4 class="card-title">Siebert Elhorst</h4>
                            <table class="table">
                                <tbody style="text-align: left">
                                <tr>
                                    <td><i class="fa fa-envelope-o"></i></td>
                                    <td>siebert.reinier@gmail.com</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-mobile"></i></td>
                                    <td>+31 (0)6 21421825</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-globe"></i></td>
                                    <td>Groningen, Netherlands</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--/Second column-->
            </div>
        </div>
    </div>
</div>
<!--/.Mask-->