<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container">

            <section class="section extra-margins" style="margin-top: 120px">

                <!--Section heading-->
                <h1 class="section-heading">My professional projects</h1>
                <!--Section description-->
                <p class="section-description">The following projects are primarily professional projects. They are developed for a company or a customer.</p>
                <!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-12 mb-r">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight z-depth-2">
                            <img src="./img/mainpage/tapmebaas.png">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>

                        <!--Excerpt-->
                        <div class="card-block">
                            <h3>Beacon control management system</h3>
                            <h5><strong>ReactJS, Javascript, CSS, HTML</strong></h5>
                            <p>This is my graduation project which I developed during my internship at Tapme media Groningen. The most important part of this project is a mapeditor, which I developed completely on my own without using a framework. With this mapeditor customers are able to manage and place their beacons without interference from Tapme. Now that Tapme doesn't have to help customers with managing their beacons anymore they can focus on their other applications.</p>
                            <h5 class="blue-text" style="margin-top: 10px"><i class="fa fa-link"></i> <a href="http://www.tapme.nl" Target="_blank" class="blue-text">Tapme media</a></h5>
                        </div>

                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-6 mb-r">

                        <!--Featured image-->
                        <div class="overlay hm-white-slight z-depth-2">
                            <img src="./img/mainpage/vrgapp.png">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>

                        <div class="card-block">
                            <h3>Safetyregion Groningen</h3>
                            <h5><strong>Ionic, Javascript, CSS, HTML, Material design</strong></h5>
                            <p>With a group of fellow students we developed an application for the emergency services (firemen) in Groningen. In this application the leader of the firemens can give assignments to the firemens. For example they are able to give a drive-assignment to a nearby fire (with GPS location). We had two different parts in this application the control panel which was a website and an application which all firemens use. Whenever there is an emergency situation someone from the control panel can send a message to all "clients" firemen to go to a certain coördinate.</p>
                            <h5 class="blue-text" style="margin-top: 10px"><i class="fa fa-link"></i> <a href="https://www.veiligheidsregiogroningen.nl/" Target="_blank"  class="blue-text">Veiligheidsregio Groningen</a></h5>
                        </div>

                    </div>
                    <!--/First column-->

                    <!--First column-->
                    <div class="col-md-6 mb-r">

                        <!--Featured image-->
                        <div class="overlay hm-white-slight z-depth-2">
                            <img src="./img/mainpage/GuardSmartwatch.png">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>

                        <div class="card-block">
                            <h3>Guard Smartwatch</h3>
                            <h5><strong>Tizen, Javascript, HTML, CSS, Java</strong></h5>
                            <p>Guard is a safety application that helps employees that work on their own. If they are in an emergency situation they are able to press a button which alarms the emergency services. I developed an application for the smartwatch, now bailiff's (Deurwaarders) are able to quickly press the button in case someone attacks them</p>
                            <h5 class="blue-text" style="margin-top: 10px"><i class="fa fa-link"></i> <a href="http://www.guard-mandown.nl" Target="_blank" class="blue-text">Guard Mandown</a></h5>
                        </div>

                    </div>

                </div>
                <!--Second row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-6 mb-r">

                        <!--Featured image-->
                        <div class="overlay hm-white-slight z-depth-2">
                            <img src="./img/mainpage/cleanawe.png">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>

                        <div class="card-block">
                            <h3>Serious Game: Cleanawe</h3>
                            <h5><strong>Flash, Adobe illustrator</strong></h5>
                            <p>Cleanawé is a platform game build for children in Africa. The goal of the game is to learn how to wash your hands. Since most children in Africa don't know how to wash their hands properly we were asked to create a game that teaches children how to wash their hands. It was a really hard game to develop since most children in Africa don't have any experience in playing games. The game has been released in Ghana Africa and children are able to play the game now.</p>
                        </div>
                    </div>
                    <!--/First column-->
                </div>

                <!--Section heading-->
                <h1 class="section-heading">My hobby Projects</h1>
                <!--Section description-->
                <p class="section-description">These are some hobby projects I developed. They are mainly created for fun and experience.</p>
                <!--/Second row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-6 mb-r">

                        <!--Featured image-->
                        <div class="overlay hm-white-slight z-depth-2">
                            <img src="./img/mainpage/portfolio.png">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>

                        <div class="card-block">
                            <h3>Portfolio</h3>
                            <h5><strong>Angular 2, Javascript, CSS, HTML, Material design</strong></h5>
                            <p>My portfolio is primarily my resume my goal was to give information about myself and show my talent. This portfolio was also a learning curve in which I wanted to learn how to work with angular 2.</p>
                        </div>

                    </div>
                    <!--/First column-->

                    <!--First column-->
                    <div class="col-md-6 mb-r">

                        <!--Featured image-->
                        <div class="overlay hm-white-slight z-depth-2">
                            <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I8AWbsFzxzo" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="card-block">
                            <h3>Minecraft Plugin Bukkit - Castlewars</h3>
                            <h5><strong>Java</strong></h5>
                            <p>One of my creations is a minecraft server plugin developed in Java. This plugin makes it possible to play a minigame within minecraft and adds a new dimension to the game.</p>
                            <h5 class="blue-text" style="margin-top: 10px"><i class="fa fa-link"></i> <a href="https://dev.bukkit.org/projects/castlewars" class="blue-text">Castlewars plugin</a></h5>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <!--First column-->
                    <div class="col-md-12 mb-r">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight z-depth-2">
                            <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hdu0Jgccqg8" allowfullscreen></iframe>
                            </div>
                        </div>

                        <!--Excerpt-->
                        <div class="card-block">
                            <h3>Youtube</h3>
                            <h5><strong>Sony vegas pro 13, Adobe illustrator, Adobe after effects.</strong></h5>
                            <p>Besides software engineering I also enjoy making videos. With my channel I got a total of 1.200.000 views and 1500 subscribers. The video above has 400.000 views.</p>
                            <h5 class="blue-text" style="margin-top: 10px"><i class="fa fa-link"></i> <a href="https://www.youtube.com/user/LeagueOfGendolz" class="blue-text">My channel</a></h5>
                        </div>

                    </div>
                    <!--/First column-->
                </div>
            </section>
            </div>
        </div>
    </div>