<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container" style="margin-top: 110px">
            <!--Section: Blog v.4-->
            <section class="section section-blog-fw">

                <!--Section heading-->
                <h1 class="section-heading">My hobbies</h1>
                <!--First row-->
                <div class="row">
                    <div class="col-md-12">
                        <!--Featured image-->
                        <div class="overlay hm-white-slight">
                            <img src="./img/mainpage/formulaone.png">
                            <a>
                                <div class="mask "></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="jumbotron">
                            <h1>Formula 1</h1>
                        </div>
                        <!--/Post data-->

                        <!--Excerpt-->
                        <div class="excerpt">
                            <p>One of my greatest passions is formula one. I follow everything about formula one minute to minute. After waiting for a long time the season will start soon, I will also visit the Hungarian GP.
                            </p>
                         </div>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 40px">
                    <div class="col-md-12">
                        <!--Featured image-->
                        <div class="overlay hm-white-slight">
                            <img src="./img/mainpage/gaming.jpeg">
                            <a>
                                <div class="mask "></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="jumbotron">
                            <h1>Gaming</h1>
                        </div>
                        <!--/Post data-->

                        <!--Excerpt-->
                        <div class="excerpt">
                            <p>It's not a secret that most software engineers love gaming and so do I. I am a very competitive person and will fight to the limit in order to win. Gaming is a way to relax with friends which I do a lot.</p>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row" style="margin-top: 40px">
                    <div class="col-md-12">
                        <!--Featured image-->
                        <div class="overlay hm-white-slight">
                            <img src="./img/mainpage/gaming.jpeg">
                            <a>
                                <div class="mask "></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="jumbotron">
                            <h1>Gaming</h1>
                        </div>
                        <!--/Post data-->

                        <!--Excerpt-->
                        <div class="excerpt">
                            <p>It's not a secret that most software engineers love gaming and so do I. I am a very competitive person and will fight to the limit in order to win. Gaming is a way to relax with friends which I do a lot.</p>
                        </div>
                    </div>
                </div>

                <hr>
            </section>
            <!--/Section: Blog v.4-->
        </div>
    </div>
</div>
<!--/.Mask-->