<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container" style="margin-top: 110px">
            <!--Section: Blog v.4-->
            <section class="section section-blog-fw">

                <!--Section heading-->
                <h1 class="section-heading">My hobbies</h1>
                <!--First row-->
                <div class="row">
                    <div class="col-md-12">
                        <!--Featured image-->
                        <div class="overlay hm-white-slight">
                            <img src="./img/mainpage/formulaone.png">
                            <a>
                                <div class="mask "></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="jumbotron">
                            <h1>Formula 1</h1>
                        </div>
                        <!--/Post data-->

                        <!--Excerpt-->
                        <div class="excerpt">
                            <p>One of my greatest passions is formula one. I follow everything about formula one minute to minute. Now that the season is started I am really excited. I will also visit the Hungarian GP at the hungaroring in Budapest.
                            </p>
                         </div>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 40px">
                    <div class="col-md-12">
                        <!--Featured image-->
                        <div class="overlay hm-white-slight">
                            <img src="./img/mainpage/news.jpg">
                            <a>
                                <div class="mask "></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="jumbotron">
                            <h1>Politics / News</h1>
                        </div>
                        <!--/Post data-->

                        <!--Excerpt-->
                        <div class="excerpt">
                            <p>Unlike most young people I am interested in politics. I am usually up to date with most news and I always have a strong opinion about most subjects.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 40px">
                    <div class="col-md-12">
                        <!--Featured image-->
                        <div class="overlay hm-white-slight">
                            <img src="./img/mainpage/gaming.jpeg">
                            <a>
                                <div class="mask "></div>
                            </a>
                        </div>

                        <!--Post data-->
                        <div class="jumbotron">
                            <h1>Casual Gamer</h1>
                        </div>
                        <!--/Post data-->

                        <!--Excerpt-->
                        <div class="excerpt">
                            <p>It's not a secret that most software engineers love gaming. For me gaming is a way to relax and chat with friends.</p>
                        </div>
                    </div>
                </div>
                <hr>
            </section>
            <!--/Section: Blog v.4-->
        </div>
    </div>
</div>
<!--/.Mask-->