<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container" style="margin-top: 90px">

            <!--Section: Products v.1-->
            <section class="section">

                <!--Section heading-->
                <h1 class="section-heading">Do you want a custom website or video?</h1>
                <!--Section sescription-->

                <!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-lg-6 col-md-6 mb-r">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="overlay hm-white-slight">
                                <img src="./img/mainpage/code3.jpeg" class="img-fluid" alt="">
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-center">
                                <h4 class="card-title"><strong>Custom website</strong></h4>

                                <h5 class="card-title"><strong>My experience:</strong></h5>
                                <!--Rating-->
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>

                                <!--Description-->
                                <p class="card-text" style="margin-bottom: 10px">Do you want a custom website build by me? That's possible, it's always possible to discuss about the price but in general I will charge &euro;20 per hour.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">&euro;20,- per hour</span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-6 col-md-6 mb-r">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="overlay hm-white-slight">
                                <img src="./img/mainpage/videoedit.jpg" class="img-fluid" alt="">
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-center">
                                <h4 class="card-title"><strong>Custom video</strong></h4>

                                <h5 class="card-title"><strong>My experience:</strong></h5>
                                <!--Rating-->
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>

                                <!--Description-->
                                <p class="card-text" style="margin-bottom: 35px">Do you want a custom video to be edited by me? That's possible, I will charge &euro;15 per hour.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">&euro;15,- per hour</span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/Second column-->
                </div>
                <!--/First row-->

            </section>
            <!--/Section: Products v.1-->
        </div>
    </div>
</div>