<div class="hm-black-strong">
    <div class="grey lighten-4 flex-center">
        <div class="container" >
            <section class="section extra-margins" style="margin-top: 120px">
                <h1 class="section-heading">My experience and knowledge</h1>
                <!--Section description-->
                <p class="section-description">This page shows my experience and knowledge of programming languages and frameworks that I used.</p>
                <div class="card">
                    <h3 class="card-header grey white-text">Programming Languages</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>Java</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Javascript</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>HTML/CSS</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>PHP</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>C++</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Flash</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 30px">
                    <h3 class="card-header grey white-text">Frameworks</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>ReactJS</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Angular 2</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>Laravel</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Material Design</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>Ionic</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Yii-Framework</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>Tizen</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Angular 1</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 30px">
                    <h3 class="card-header grey white-text">Other</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>Sony Vegas Pro 13</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Adobe after effects</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2">
                                <strong>Adobe illustrator</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <strong>Adobe photoshop</strong>
                            </div>
                            <div class="col-sm-3 col-lg-4">
                                <ul class="rating" style="text-align: left">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--/.Mask-->